*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    background-color: black;
}


.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* estilo cabeçalho */


header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    top: 0;
      
}

.logo-text h1 {
    font-family: 'Satisfy', cursive;
    padding: 30px;
    color: #f2e7d2;
    font-size: 25px;
    margin-top: 10px;
    
}

header a{
    color: #f2e7d2;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display: inline-block;
    margin: 30px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 30px;
}

header a:hover{
    color: #f2e7d2;
    transform: scale(1.2);
}

/*ESTILO DO MENU MOBILE*/

.btn-abrir-menu i{
    color: #f2e7d2;
    display: none;
 }
 
 .menu-mobile {
     background-color: black;
     height: 100vh;
     position: fixed;
     top: 0;
     right: 0;
     z-index: 99999;
     width: 0%;
     overflow: hidden;
     transition: .5s;
 }
 
 .menu-mobile .btn-fechar{
     padding: 20px 5%;
 }
 
 .menu-mobile .btn-fechar i{
     color: rgb(138, 120, 176) ;
     font-size: 25px;
     cursor: pointer;
 }
 
 .menu-mobile nav ul{
     text-align: right;
 }
 
 .menu-mobile nav ul li a{
     display: inline-block;
     padding: 12px 10%;
     margin: 35px; 
     color:  rgb(138, 120, 176);
   
 }
 
 .menu-mobile nav ul li a:hover{
    background-color:  white;
    border-radius: 50%;
 }
 
 .overlay-menu{
     background-color: rgba(0, 0, 0, 0.644);
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 77777;
     display: none;
 }
 

/*ESTILO DO MENU MOBILE do javascrip*/
.menu-mobile.abrir-menu{
    width: 50%;
}

.menu-mobile.abrir-menu  ~ .overlay-menu{
    display: block;
}


/* estilo main */

.flex{
    display: flex;
    align-items: center;
    gap: 250px;
    margin-top: 1px;
    padding: 40px 4%;
    background-color: #1a1919;
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 3px solid rgba(255,255,255,0.8);
    
}

.box div:nth-child(1) {
    top: 30%;
    left: 42%;
    animation: anime 10s linear infinite ;
}
.box div:nth-child(2){
    top: 50%;
    left: 50%;
    animation: anime 7s linear infinite ;
}
.box div:nth-child(3) {
    top: 50%;
    left: 6%;
    animation: anime 9s linear infinite ;
}
.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: anime 10s linear infinite ;
}
.box div:nth-child(5) {
    top: 87%;
    left: 10%;
    animation: anime 6s linear infinite ;
}
.box div:nth-child(6) {
    top: 60%;
    left: 70%;
    animation: anime 12s linear infinite ;
}
.box div:nth-child(7) {
    top: 20%;
    left: 80%;
    animation: anime 15s linear infinite ;
}
.box div:nth-child(8) {
    top: 20%;
    left: 25%;
    animation: anime 16s linear infinite ;
}
.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: anime 9s linear infinite ;
}
.box div:nth-child(10) {
    top: 90%;
    left: 80%;
    animation: anime 5s linear infinite ;
}

@keyframes anime {
    0% {
        transform:  scale(0) translate(0) rotate(0);
        opacity: 1;
    }
    100%   {
        transform: scale(1.3) translate(-90px) rotate(360deg);
        opacity: 0;
    }
}

.text-topo h1{
    font-family: 'Poppins', sans-serif;
    
    margin: 15px;
    font-size: 30px;
    text-transform: uppercase;

    background: linear-gradient(45deg, #ede2e2, #f79eb1, #ae8fba,#473469);
    background-size: 400% 100%;
    animation: degrade 13s linear infinite alternate;

    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;

    outline: none;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}



.text-topo h1 span{
    color: rgb(161, 125, 238);
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.img-topo img{
    margin-top: 100px;
    width: 350px;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 30%;
    box-shadow: 5px 5px 5px 5px rgb(153, 121, 220);
    margin-bottom: 100px;
}

.button-social {
    margin-top: 50px;
}

.button-social a{
    font-family: 'Poppins', sans-serif;
    gap: 50px;
    font-size: 15px;
    text-decoration: none;
    margin: 8px;
    color: black;
}

.button-social i{
    color:black;
    padding: 8px;
}

.button-social button{
    
    box-shadow: 3px 3px 3px  rgb(138, 120, 176) ;

    background: linear-gradient(45deg, #1f1e1e, #f79eb1, #ae8fba,#473469);
    background-size: 400% 100%;
    animation: degrade 20s linear infinite alternate;

    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;

    outline: none;
}

.button-social button:hover{
    transform: scale(1.1);
}

/* estilo sobre*/

.sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 4%;
    gap: 50px;
    margin-top: 100px;
   
}


.foto img{
    margin-top: 100px;
    width: 400px;
    box-shadow: 3px 3px  rgb(181, 156, 235);   
    border-radius: 50%;
    animation: foto 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes foto {
    from {
      opacity: 0;
      translate: -5vw 0;
    }
    
    to {
      opacity: 1;
      translate: 0 0;
    }
  }

.text-sobre {
    color: #f2e7d2;
    font-size: 20px;
    text-align: justify; 
    margin-top: 100px;
    
}

/*ESTILOS HABILIDADE */
.habilidades-skl {
    background-color: #1a1919;
}

.titulo{
    padding: 20px 4%;
    font-size: 40px;
    text-align: center;
    margin-top: 200px;
    color: white;
}

.titulo span{
    color:  rgb(84, 84, 111);
}

.skills{
    margin-top: 50px;
    margin-inline: auto;
    max-width: 80%;
    background-color: #1a1919;
    padding: 25px 0;
    border-radius: 25px;
    overflow: hidden;
    mask: linear-gradient(to right, transparent, white 15%, white 85%, transparent);
}

.skills-container {
    display: flex;
    gap: 10px;
    width: max-content;
    margin-bottom: 200px;
    animation: scrollInfinito 20s linear infinite ;
}

.skl{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.655);
    box-shadow: 5px 5px 5px rgb(155, 140, 140);
    border-radius: 20px;
    padding: 5px 15px;
    white-space: nowrap;
    
}

@keyframes scrollInfinito {
    to {
        translate: calc(-50% - 5px);
    }
}



.skl  i{
    font-size: 20px;  
    
   
}

.skl h3{
    font-size: 20px;
    margin-top: 18px;
}

.skl p {
    font-size: 8px;
    margin-top: 5px;
    font-weight: 500;
}

img {
    width: 60px;
}



/* estilo projeto*/

.projetos h1{
    color:  #f2e7d2;
    font-size: 40px;
    text-align: left;
    margin-left: 30px;
    margin-top: 190px;
    margin-bottom: 80px;

}


.flip{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 10px;
    
}

.containner{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 150px 50px;
   margin-bottom: 150px;
   background-color: black;
}



.imagem{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 300px;
    background: rgb(14, 14, 14);
    border-radius: 50px;
    box-shadow: 0 10px 10px rgb(66, 125, 219);
    transition: .5s;
    cursor: pointer;
}

.imagem1{
    position: relative;
    width: 250px;
    height: 300px;
    background: rgb(14, 14, 14);
    border-radius: 50px;
    box-shadow: 0 10px 20px rgb(46, 173, 173);
    transition: .5s;
    cursor: pointer;
   
}

.imagem2{
    position: relative;
    width: 250px;
    height: 300px;
    background: rgb(14, 14, 14);
    border-radius: 50px;
    box-shadow: 0 10px 20px rgb(97, 183, 229);
    transition: .5s;
    cursor: pointer;
}

.imagem3{
    position: relative;
    width: 250px;
    height: 300px;
    background: rgb(14, 14, 14);
    border-radius: 50px;
    box-shadow: 0 10px 20px rgb(169, 169, 169);
    transition: .5s;
    cursor: pointer;
}
.imagem4{
    position: relative;
    width: 250px;
    height: 300px;
    background: rgb(14, 14, 14);
    border-radius: 50px;
    box-shadow: 0 10px 20px rgb(113, 134, 156);
    transition: .5s;
    cursor: pointer;
}


.imagem:hover, .imagem1:hover, .imagem2:hover, .imagem3:hover, .imagem4:hover{
    height: 350px;
}

.imagem .caixa-img, .imagem1 .caixa-img, .imagem2 .caixa-img, .imagem3 .caixa-img, .imagem4 .caixa-img {
    position: absolute;
    width: 250px;
    height: 200px;
    border-radius: 50px;
    transition: .5s;
}
.imagem:hover .caixa-img{
    top: -150px;
    scale: .75s;
    box-shadow: 0 10px 20px rgb(66, 125, 219);
}

.imagem1:hover .caixa-img{
    top: -150px;
    scale: .75s;
    box-shadow: 0 10px 20px rgb(46, 151, 173);
}

.imagem2:hover .caixa-img{
    top: -150px;
    scale: .75s;
    box-shadow: 0 10px 20px rgb(97, 183, 229);
}

.imagem3:hover .caixa-img{
    top: -150px;
    scale: .75s;
    box-shadow: 0 10px 20px rgb(63, 63, 65);
}

.imagem4:hover .caixa-img{
    top: -150px;
    scale: .75s;
    box-shadow: 0 10px 20px rgb(63, 63, 65);
}

.imagem .caixa-img img, .imagem1 .caixa-img img, .imagem2 .caixa-img img, .imagem3 .caixa-img img, .imagem4 .caixa-img img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.imagem .conteudo, .imagem1 .conteudo, .imagem2 .conteudo, .imagem3 .conteudo, .imagem4 .conteudo
{
    color: white;
    position: absolute;
    font-size: 10px;
    text-align: center;
    text-align: center;
    top: 250px;
    width: 100%;
    height: 35px;
    overflow: hidden;
}
.imagem:hover .conteudo, .imagem1:hover .conteudo, .imagem2:hover .conteudo, .imagem3:hover .conteudo, .imagem4:hover .conteudo
{
    top: 120px;
    height: 250px;
}


.containner h2{
    font-size: 20px;
}


.containner p{
    text-align: justify;
    padding: 5px 5%;
    margin-top: 20px;
    font-size: 15px;
    
}

.containner h4 {
    font-size: 13px;
    margin-top: 15px;
    padding: 5px 5%;
    font-weight: bold;
}

.containner button {
    list-style-type: none;
    width: 180px;
    font-size: 13px;
    border-radius: 15px;
    cursor: pointer;
    padding: 3px;
    color: black;
}
.containner button i {
    margin: 5px;
}

.containner button a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.conteudo img {
    width: 30px;
    margin-top: 10px;
}




/* Estilo do Rodapé */

footer {
    position: relative;
    width: 100%;
    background-color: #1a1919;
    min-height: 100px;
    padding: 20px 50px;
    display: block;
    justify-content: space-around;
    align-items: center;
    
     
  }
  
  footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.75rem;
  }
  
.text-footer h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    color: #473469;
}

.text-footer p {
    font-size: 25px;
}

.redes-sociais {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 15px;
    margin-bottom: 50px;
}

.redes-sociais i {
    color: #473469;
    margin: 10px;
    
}

.redes-sociais p {
    font-size: 25px;
    margin-bottom: 100px;
}

.text-fim span {
    color: #473469;
}




@media screen and (max-width: 1020px) {
    /* estilo main */  
    section .flex{
        display: inline-block;
        justify-content: center;
        text-align: center;
    }
    
    .img-topo img {
        width: 280px ;
    }
    
    .flex {
        width: 100%;
    }
	 /* estilo menu desktop */

    .menu-desktop{
        display:none ;
    }

    .btn-abrir-menu i{
        display: block;
        padding: 40px;
        font-size: 40px;
        cursor: pointer;
    }

    /* estilo sobre */
    .sobre{
        display: inline-block;
        justify-content: center;
        text-align: center;
    }   
    
    .text-sobre {
        text-align: center;
        margin-top: 80px;
        font-size: 15px;
    }

    .foto img {
        width: 300px;
    }

     /* estilo habilidade */

    .skills {
        margin: 30px;
    }
       

    /* estilo projetos */

    .projetos h1 {
        text-align: center;
        font-size: 30px;
    }

    .containner {
        margin-top: 100px;
        gap: 200px;
       
    }

     /* estilo footer */

    footer {
        gap: 50px;
        text-align: center;
        
    }
    
    .button-social-footer a {
       display: inline-block;
              
    }
    
    footer .menu-desk ul{
        display: inline-block;
    }
    

}



@media screen and (max-width: 360px) {

    /* estilo main */  
    section .flex{
        display: inline-block;
        justify-content: center;
        text-align: center;
    }
    .img-topo img {
        width: 200px ;
    }

    .flex {
        width: 100%;
    }

    
.box div:nth-child(1) {
    top: 75%;
    left: 42%;
    animation: anime 10s linear infinite ;
    display: none;
}
.box div:nth-child(2){
    top: 50%;
    left: 50%;
    animation: anime 7s linear infinite ;
    
}
.box div:nth-child(3) {
    top: 50%;
    left: 6%;
    animation: anime 9s linear infinite ;
    display: none;
}
.box div:nth-child(4) {
    top: 30%;
    left: 60%;
    animation: anime 10s linear infinite ;
    
}
.box div:nth-child(5) {
    top: 200%;
    left: 30%;
    animation: anime 6s linear infinite ;
    display: none;
}
.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: anime 12s linear infinite ;
    
}
.box div:nth-child(7) {
    top: 200%;
    left: 80%;
    animation: anime 15s linear infinite ;
    display: none;
}
.box div:nth-child(8) {
    top: 60%;
    left: 25%;
    animation: anime 16s linear infinite ;
    display: none;
}
.box div:nth-child(9) {
    top: 150%;
    left: 25%;
    animation: anime 16s linear infinite ;
   
}
.box div:nth-child(10) {
    top: 120%;
    left: 80%;
    animation: anime 5s linear infinite ;
    
}

@keyframes anime {
    0% {
        transform:  scale(0) translate(0) rotate(0);
        opacity: 1;
    }
    100%   {
        transform: scale(1.3) translate(-90px) rotate(360deg);
        opacity: 0;
    }
}
	 /* estilo menu desktop */

     .logo-text h1 {
        font-size: 20PX;
     } 
    
    .menu-desktop{
        display:none ;
    }
   
    .btn-abrir-menu i{
        display: block;
        padding: 40px;
        cursor: pointer;
    }
    /* MENU MOBILE*/
    
    .menu-mobile nav ul li a{
        font-size: 12px;
        padding: 0 5%;
    }

    /* ESTILO SOBRE */
    .text-sobre p{
        font-size: 15px;
      
    }
    .foto img {
        width: 250px;
    }
  
    /* estilo habilidades */

    .skills {
        padding: 20px 12%;
        margin: 15px;
    }

    /* estilo projeto */

    .containner {
        margin-top: 90px;
        gap: 200px;
       
    }


}